<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title th:text="#{home.list}"></title>-->
<!--</head>-->
<!--<body>-->
<!--Language: <a href="?lang=en">English</a>-->
<!--<a href="/create-blog" th:text="#{home.create}">Create new blog</a>-->
<!--<h1 th:text="#{home.list}"></h1>-->
<!--<table border="1">-->
<!--    <tr>-->
<!--        <th th:text="#{home.the-writer}"></th>-->
<!--        <th th:text="#{home.title}"></th>-->
<!--        <th th:text="#{home.time}"></th>-->
<!--        <th th:text="#{home.view}"></th>-->
<!--        <th th:text="#{home.edit}"></th>-->
<!--        <th th:text="#{home.delete}"></th>-->
<!--    </tr>-->
<!--    <th:block th:each="blog : ${blog}">-->
<!--        <tr>-->
<!--            <td th:text="${blog.name}"></td>-->
<!--            <td th:text="${blog.title}"></td>-->
<!--            <td th:text="${blog.time}"></td>-->
<!--            <td><a th:href="@{/view-blog/__${blog.id}__}">View</a></td>-->
<!--            <td><a th:href="@{/edit-blog/__${blog.id}__}">Edit</a></td>-->
<!--            <td><a th:href="@{/delete-blog/__${blog.id}__}">Delete</a></td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->